/*General*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Exo');

body {
    color: #3b2b49;
    background: rgba(233, 199, 165, 0.14);
    font-family: 'Exo', serif;
}

a {
    text-decoration: none;
}

#app {
    font-family: 'Exo', fantasy;
    height: 100vh;
    background-color: rgba(248, 211, 173, 0.31);
    color: #3b2b49;
}

textarea:focus, input:focus {
    outline: none;
}

.no-border {
    border: 0;
    box-shadow: none;
}

nav .link:hover {
    background-color: #EAE3EA;
    opacity: 0.8;
    transition: 0.3s;
    color: #bd1651;
}

/*Navigation*/

.container {
    text-align: center;
}

input[type="text"], input[type="password"], input[type='date'], textarea {
    border: 1px solid #CDC0C0;
    border-radius: 4px;
}

button {
    outline: none;
    text-align: center;
    font-size: 20px;
    width: 120px;
    color: #751b26;
    height: 40px;
    margin: 5px;
}

.signUpLogIn {
    text-align: center;
    display: block;
    position: relative;
    margin: 0 auto;
    width: 980px;
    padding: 20px 40px 20px 40px;
}

.login, .signup {
    display: inline-block;
}

.login {
    margin-right: 10px;
}

.signup {
    margin-left: 10px;
}

.login:active, .signup:active {
    background-color: #EAE3EA;
    color: #751b26;
    opacity: 0.8;
}

button:hover, .mainButton:hover, .button:hover {
    outline: none;
    background-color: #EAE3EA;
    opacity: 0.8;
    transition: 0.3s;
    color: #751b26;
}

[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

.profileImage {
    width: 25ch;
    height: 30ch;
    object-fit: cover;
    margin: 0;
    padding: 0;
    position: relative;
}

.favimg {
    object-fit: cover;
    object-position: 100% 0;

    width: 60px

}

.chatimg {
    object-fit: cover;
    object-position: 100% 0;

    width: 6ch;
    height: 6ch;

}

.small-text {
    font-size: 12px;
}

.bg {
    background-color: rgba(248, 211, 173, 0.04);
}

.my-custom-scrollbar {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: auto;
}

@media only screen and (max-width: 600px) {
    input[data-v-8f428144], .selectOption[data-v-8f428144] {
        max-width: none !important;
    }
}

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; }

.scrollbar-ripe-malinka::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; }

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #b3ffd9 0%, #b3ecff 100%);
    background-image: linear-gradient(120deg, #b3ffd9 0%, #b3ecff 100%); }
